<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm users-header">
        <h2 class="users-header">Users</h2>
      </div>
      <div class="col-sm search-bar">
          <form class="form-inline float-right">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

      </div>
      <div class="col-sm-2 new-btn">
        <button class=" float-right btn btn-success" type="button" name="button">New +</button>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <table class="table mt-5">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">Active?</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">someusername</th>
          <td>Admin</td>
          <td>Yes</td>
          <td><button class="btn-primary edit-btn" type="button" name="button">edit</button></td>
        </tr>
        <tr>
          <th scope="row">chief</th>
          <td>Manager</td>
          <td>Yes</td>
          <td><button class="btn-primary edit-btn" type="button" name="button">edit</button></td>
        </tr>
        <tr>
          <th scope="row">jjames2</th>
          <td>Accountant</td>
          <td>Yes</td>
          <td><button class="btn-primary edit-btn" type="button" name="button">edit</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
