<style>
  th, td {
    border-bottom: 1px solid #ddd;
  }

  tr {
    border-left: 1px solid #ddd;
  }

h1 {
  text-align: center;
}
  </style>

<div class="COA">
<h1> Chart of Accounts </h1>
  <table style="width:100%">
  <tr>
    <th>Acct #</th>
    <th>Name</th>
    <th>Type</th>
    <th>Normal Side</th>
    <th>Balance</th>
  </tr>
  <tr>
    <td>100</td>
    <td>Cash</td>
    <td>Assets</td>
    <td>Credit</td>
    <td>50,000.00</td>
  </tr>
  <tr>
    <td>200</td>
    <td>Due Rent</td>
    <td>Liabilities</td>
    <td>Credit</td>
    <td>50,000.00</td>
  </tr>
  </table>
</div>
